@model ProductViewModel

<div class="container mt-5 mb-3">
    
    <div class="row">
        <div class="col-md-5 mb-2">
            <a class="btn btn-primary" asp-action="Create">Add Product</a>
        </div>
      
        <div class="col-md-9 mb-3">
            <select class="form-control" id="categoryfilter" >
                <option disabled selected>--Select Category--</option>
                @foreach (var category in Model.Categories)
                {
                    if(category.Value == Model.CategoryId.ToString()){
                        <option selected value="@Url.Action("Product","Admin",new{ categoryId=category.Value })">@category.Text</option>
                    }else{
                        <option value="@Url.Action("Product","Admin",new{ categoryId=category.Value })">@category.Text</option>

                    }
                }
            </select>
        </div>
       
        <br />
        @if (Model.Products.Count() >0)
        {
            @foreach (var product in Model.Products)
            {
                 <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="bx bxl-mailchimp"></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">@product.Name</h6>
                                </div>
                            </div>
                           
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">@product.Name<br>@product.Description</h3>
                            <div class="row">
                                <div class="mt-3"> <strong class="text1">@product.Price.ToString("##")<span class="text2">LE</span></strong> </div>
                                <div class="mt-2">
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
          
        }else
        {
            <p>No product to view</p>
        }
    </div>
    
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#categoryfilter").on("change",function(){
            window.location = $(this).find(":selected").val();
        });
    });
</script>
